
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 16px 16px;
    text-decoration: none;
    display: block;
}

.workout_drop {
    transform: translate(-95%, 32px);
    position: absolute;
    background-color: #f1f1f1;
    width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

.product_drop {
    transform: translate(-105%, 32px);
    position: absolute;
    background-color: #f1f1f1;
    width: 162px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

.topnav a {
    text-decoration: none;
}

/* Change color of dropdown links on hover */
.product_drop a:hover, .workout_drop a:hover {background-color: #ddd;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #ddd;
    color: black;
}

/* source of above CSS: "https://www.w3schools.com/howto/howto_css_dropdown.asp" */

header {
    background-color:powderblue;
    text-align: center;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    padding: 0px 20px 20px;
    }

footer {
    padding-top: 50px;
    text-align: center;
    opacity: 50%;
}

/* The navbar container */
.topnav {
    background-color: #333;
    text-align: center;
    padding: 15px;
}
  
/* Navbar links */
.topnav a:not([class="dropDownLink"]) {
    color: #f2f2f2;
    padding: 16px 32px;
}

/* Links - change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
    padding: 16px 32px
}

.topnav div {
    display: inline;
}

.leftcolumn {   
    float: left;
    width: 40%;
    padding-right: 5%;
  }

.leftcolumn h3 {
    padding-top: 3px;
    padding-left: 3px;
}

.leftcolumn ul {
    padding-bottom: 5px;
}
  
.rightcolumn {
    float: left;
    width: 50%;
}

.row:after, .row_grey:after {
    content: "";
    display: table;
    clear: both;
}

.row_grey {
    background-color: lightgray;
    padding: 1px 1px 15px 1px;
    margin-left: 20%;
    margin-right: 20%;
}

.about {
    background-color: lightgrey;
}

.QoD {
    padding-bottom: 30px;
}

.QoD_text {
    font-style: italic;
}

.center-align {
    text-align: center;
}

.border_frame {
    padding-left: 20px;
    border: 2px solid black;
    border-radius: 16px
}