.products_tabs_column {
    float: left;
    width: 12%;
    margin-top: 5%;
}

.products_column_right {
    margin: 0% 5% 0% 12% ;
    float: left;
    width: 45%;
    text-align: center;
}

.products {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 16px
}

.products_title {
    background-color: powderblue;
    text-align: center;
    padding: 10px 0px;
    border: 1px solid black;
    margin: 0% 25%;
    width: 100%;
}

.products_column {
    background-color: lightgrey;
    text-align: center;
    border: 1px solid black;
    border-top: 0px;
    margin: 0% 25%;
    width: 100%;
}

.products_tab {
    display: block;
    font-weight: bold;
    padding-bottom: 15px;
    padding-top: 15px;
}

.products_tab:hover {
    background-color: grey;
    color: black;
}

.searchBox_products {
    padding-bottom: 20px;
}

.PoD {
    float:left;
    text-align: center;
}

.products_title_main {
    text-align: center;
}

.product_table_page {
    text-align: center;
    border-spacing: 15px 0px;
    margin-left:auto;
    margin-right:auto;
}

#clear_search {
    margin-top: 5px;
}