.trail_title {
    text-align: center;
}

.top_rated_trail {
    list-style-type:none;
    text-align: center;
    display: flex;
    justify-content: center;
}

.top_rated_trail_list {
    float:left;
    padding: 0px 15px;
}

.top_rated_trail_list:first-of-type {
    float:left;
    padding-left: 0px;
}

.top_rated_trail_title {
    text-align: center;
}

.topRatedTrails {
    background-color: lightgray;
}

.trail_table {
    border: 2px solid black;
    border-collapse: collapse;
}

.trail_table tr {
    border: 2px solid black
}

.trail_table td {
    padding: 10px;
    text-align: center;
}

.leftcolumn_trail {
    float: left;
    width: 25%;
    margin-top: 5%; 
    margin-left: 10%;
}

.rightcolumn_trail {
    float: left;
    width: 65%;
}

.table_map {
    width: 400px; 
    height: 250px;
}

.map, .trail_overview {
    margin-top:50px;
    margin-left: -25%;
    width: 400px; 
    height: 300px;
}

.map {
    margin-top: 30px;
}

.trail_overview {
    display: none;
    height: 0px;
}