<!-- 
	Author: Nicholas Mateus
 	Last Modified: 2020, July 26
-->
<!DOCTYPE html>
<html lang="en">

	<head>
        <title>Shirts</title>
        <base target="_parent">
    </head>

    <body>
        <h3 class="center-align">Interval Workout</h3>
        <p>
            Interval workouts are essential for developing fitness without the risk of overtraining or injury.
            This interval workout will help build your fitness, strength, and cardio all in one:
        </p>
        
        <ul>
            <li>10 min jog (50% effort)</li>
            <li>5 min stretches <a target="_blank" href="https://www.self.com/gallery/essential-stretches-slideshow">(stretching exercises)</a></li>
            <li>30 min run:</li>
                <ul>
                    <li>5 min - 60% effort</li>
                    <li>2 min - 80% effort</li>
                    <li>5 min - 60% effort</li>
                    <li>2 min - 85% effort</li>
                    <li>5 min - 60% effort</li>
                    <li>1 min - 90% effort</li>
                    <li>5 min - 40% effort</li>
                    <li>5 min - 60% effort</li>
                </ul>
            <li>10 min dynamic stretching <a target="_blank" href="https://greatist.com/fitness/full-body-dynamic-warm-up#4.-Hip-stretch-with-a-twist">(dynamic stretching exercises)</a></li>
        </ul>
        
        <h3>Additional Speed Workout Option:</h3>
        <p>20-Minute Interval Run Workout</p>
        <iframe width=600 height=400 src="https://www.youtube.com/embed/KxKJEIqS1HQ" allowfullscreen></iframe>
    </body>
</html>