<!-- 
	Author: Nicholas Mateus
 	Last Modified: 2020, June 20
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Run Stop Shop</title>
  </head>

  <body>
    <h1>Contact</h1>
    <p>Type your name and message to have it sent to the website Admin</p>
    <a href="homePage.html">HOME</a>
    <br>

    <!-- Contact Form -->
    <h4>Contact Form:</h4>
    <div id="mailForm">
    <form action="mailto:nmateus1@athabasca.edu">
        <label for="nameBox">Name:</label>
        <input type="text" id="nameBox" name="nameBox">
        <label for="messageBox">Message:</label>
        <textarea id="messageBox" name="messageBox"></textarea>
        
        <input type="submit" value="Submit">
    </form>
    </div>
    <br>
    <br>
    <footer>
        Last Modified: 2020, June 20 <br>
        Author: Nicholas Mateus
    </footer>
  </body>
</html>