<!-- 
	Author: Nicholas Mateus
 	Last Modified: 2020, July 3
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="https://img.icons8.com/cotton/64/000000/trainers.png" />
    <link rel="stylesheet" type="text/css" href="../css/custom.css">
    <title>The Run Stop Shop</title>
  </head>

  <body>
    <header>
      <h1><a href="homePage.html">The Run Stop Shop</a></h1>
      <h2> Your one stop for all things running </h2>
      <div class="topnav">
  
        <div class="dropdown">
          <a class="dropbtn" id="workout_tab" href="workoutsPage.html">Workouts</a>
          <div class="workout_drop">
            <div class="dropdown-content">
              <a class="dropDownLink" href="workoutsPage.html?workout=recovery">Recovery</a>
              <a class="dropDownLink" href="workoutsPage.html?workout=speed">Speed</a>
              <a class="dropDownLink" href="workoutsPage.html?workout=cardio">Cardio</a>
              <a class="dropDownLink" href="workoutsPage.html?workout=interval">Interval</a>
              <a class="dropDownLink" href="workoutsPage.html?workout=weightloss">Weight Loss</a>
            </div>
          </div>
        </div>
  
      <a id="records_tab" href="recordsPage.html">Running Records</a>
      <a id="trails_tab" href="trailsPage.html">Find Trails near me</a>
        
        <div class="dropdown">
          <a class="dropbtn" id="product_tab" href="productsPage.html">Running Products</a>
          <div class="product_drop">
            <div class="dropdown-content">
              <a class="dropDownLink" href="productsPage.html?category=shoes">Shoes</a>
              <a class="dropDownLink" href="productsPage.html?category=shorts">Shorts</a>
              <a class="dropDownLink" href="productsPage.html?category=shirts">T-Shirts & <br> Jackets</a>
              <a class="dropDownLink" href="productsPage.html?category=accessories">Suppliments & <br> Accessories</a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="contact">
      <h1>Contact</h1>
      <p>Type your name and message to have it sent to the website Admin</p>
      <br>

      <!-- Contact Form -->
      <h4>Contact Form:</h4>
      <div id="mailForm">
      <form action="mailto:nmateus1@athabasca.edu">
          <label for="nameBox">Name:</label>
          <input type="text" id="nameBox" name="nameBox">
          <br><br><br>
          <label for="messageBox">Message:</label>
          <textarea id="messageBox" name="messageBox"></textarea>
          <br><br><br>
          <input type="submit" value="Submit">
      </form>
      </div>
    </div>
    <br>
    <br>
    <footer>
        Last Modified: 2020, July 3 <br>
        Author: Nicholas Mateus
    </footer>
  </body>
</html>