<!-- 
	Author: Nicholas Mateus
 	Last Modified: 2020, June 1
-->
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title></title>
</head>

<body>
  <h1><a href="homePage.html">The Run Stop Shop</a></h1>
  <h2> Your one stop shop for all things running </h2>
  <a href="workoutsPage.html">Workouts</a>
  <a href="historyPage.html">History and Records</a>
  <a href="trailsPage.html">Find Trails near me</a>
  <a href="productsPage.html">Running Products</a>
  <h3>
    Quote of the Day:
  </h3>
  <em>If it doesn't challenge you, <br> it won't change you.</em>
  <h3>
    Video of the Day:
  </h3>
  American 2-Mile Record (Galen Rupp): <br>
  <iframe width=600 height=400 src="https://www.youtube.com/embed/mEDxgI1XYQ8"></iframe>
  <h3>About</h3>
  <ul>
    <li>
      What is this site? <br> This site is made with the purpose of:
      <ul>
        <li>sharing historical records and information about track and field</li>
        <li>providing details about different types of workouts and their purposes</li>
        <li>enabling users to find running trails near them</li>
        <li>providing suggestions for running products like shoes, suppliments, gear etc</li>
      </ul>
    </li>
    <li>Contact info: <br> <em>nmateus1@athabasca.edu</em></li>
  </ul>
  <h3>
    Links:
  </h3>
  <a href="https://www.runningroom.com/ca/">The Running Room</a> <br>
  <a href="https://www.runnersworld.com/">Runner's World</a>
  <br><br>
  <footer>
    Last Modified: 2020, June 1 <br>
    Author: Nicholas Mateus
  </footer>

</body>

</html>