<!-- 
	Author: Nicholas Mateus
 	Last Modified: 2020, July 11
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="https://img.icons8.com/cotton/64/000000/trainers.png" />
  <link rel="stylesheet" type="text/css" href="../css/custom.css">
  <title>The Run Stop Shop</title>
</head>

<!-- Site Tabs -->

<body>
  <header>
    <h1><a href="homePage.html">The Run Stop Shop</a></h1>
    <h2> Your one stop for all things running </h2>
    <div class="topnav">

      <div class="dropdown">
        <a class="dropbtn" id="workout_tab" href="workoutsPage.html">Workouts</a>
        <div class="workout_drop">
          <div class="dropdown-content">
            <a class="dropDownLink" href="workoutsPage.html?workout=recovery">Recovery</a>
            <a class="dropDownLink" href="workoutsPage.html?workout=speed">Speed</a>
            <a class="dropDownLink" href="workoutsPage.html?workout=cardio">Cardio</a>
            <a class="dropDownLink" href="workoutsPage.html?workout=interval">Interval</a>
            <a class="dropDownLink" href="workoutsPage.html?workout=weightloss">Weight Loss</a>
          </div>
        </div>
      </div>

      <a id="records_tab" href="recordsPage.html">Running Records</a>
      <a id="trails_tab" href="trailsPage.html">Find Trails near me</a>
      
      <div class="dropdown">
        <a class="dropbtn" id="product_tab" href="productsPage.html">Running Products</a>
        <div class="product_drop">
          <div class="dropdown-content">
            <a class="dropDownLink" href="productsPage.html?category=shoes">Shoes</a>
            <a class="dropDownLink" href="productsPage.html?category=shorts">Shorts</a>
            <a class="dropDownLink" href="productsPage.html?category=shirts">T-Shirts & <br> Jackets</a>
            <a class="dropDownLink" href="productsPage.html?category=accessories">Suppliments & <br> Accessories</a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="row">

    <div class="leftcolumn">

      <!-- About section -->
      <div class="about">
        <h3>About</h3>
        <ul>
          <li>
            What is this site? <br> This site is made with the purpose of:
            <ul>
              <li>sharing historical records and information about track and field</li>
              <li>providing details about different types of workouts and their purposes</li>
              <li>enabling users to find running trails near them</li>
              <li>providing suggestions for running products like shoes, suppliments, gear etc</li>
            </ul>
          </li>
          <li><a href="contact.html">Contact Us</a></li>
        </ul>
      </div>

      <!-- External Links -->
      <div name="externalLinks">
        <h3>
          Links:
        </h3>
        <ul>
          <li><a href="https://www.runningroom.com/ca/">The Running Room</a></li>
          <li><a href="https://www.runnersworld.com/">Runner's World</a></li>
          <li><a href="https://www.worldathletics.org/">World Athletics</a></li>
        </ul>
      </div>

      <!-- Comments -->
      <div name="comments">
        <h3> Comments: </h3>
        <textarea placeholder="(Your comment here)"></textarea>
        <p>
          This is an example comment <br>
          2020/06/07
        </p>
        <p>
          This is another <br>
          2020/06/07
        </p>
      </div>

    </div>

    <div class="rightcolumn">

      <!-- Quote of the Day -->
      <div class="QoD">
        <h3>
          Quote of the Day:
        </h3>
        <span class="QoD_text">If it doesn't challenge you, <br> it won't change you.</span>
      </div>
      
      <!-- Video of the Day -->
      <div name="VoD">
        <h3>
          Video of the Day:
        </h3>
        <iframe width="750" height="450" src="https://www.youtube.com/embed/-w5LfaWl5TU" allowfullscreen frameborder="0"></iframe>
      </div>

    </div>

  </div>

  <footer>
    Last Modified: 2020, July 11 <br>
    Author: Nicholas Mateus
  </footer>

  <script type="text/javascript" src="../scripts/topNav_highlight.js"></script>

</body>
</html>