
<!-- 
	Author: Nicholas Mateus
 	Last Modified: 2020, July 3
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="https://img.icons8.com/cotton/64/000000/trainers.png" />
    <link rel="stylesheet" type="text/css" href="../css/custom.css">
    <link rel="stylesheet" type="text/css" href="../css/product.css">
    <title>The Run Stop Shop</title>
  </head>
      
  <!-- Site Tabs -->
  <body>
    <header>
      <h1><a href="homePage.html">The Run Stop Shop</a></h1>
      <h2> Your one stop for all things running </h2>
      <div class="topnav">
  
        <div class="dropdown">
          <a class="dropbtn" id="workout_tab" href="workoutsPage.html">Workouts</a>
          <div class="workout_drop">
            <div class="dropdown-content">
              <a class="dropDownLink" href="workoutsPage.html?workout=recovery">Recovery</a>
              <a class="dropDownLink" href="workoutsPage.html?workout=speed">Speed</a>
              <a class="dropDownLink" href="workoutsPage.html?workout=cardio">Cardio</a>
              <a class="dropDownLink" href="workoutsPage.html?workout=interval">Interval</a>
              <a class="dropDownLink" href="workoutsPage.html?workout=weightloss">Weight Loss</a>
            </div>
          </div>
        </div>
  
      <a id="records_tab" href="recordsPage.html">Running Records</a>
      <a id="trails_tab" href="trailsPage.html">Find Trails near me</a>
        
        <div class="dropdown">
          <a class="dropbtn" id="product_tab" href="productsPage.html">Running Products</a>
          <div class="product_drop">
            <div class="dropdown-content">
              <a class="dropDownLink" href="productsPage.html?category=shoes">Shoes</a>
              <a class="dropDownLink" href="productsPage.html?category=shorts">Shorts</a>
              <a class="dropDownLink" href="productsPage.html?category=shirts">T-Shirts & <br> Jackets</a>
              <a class="dropDownLink" href="productsPage.html?category=accessories">Suppliments & <br> Accessories</a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <h2 class="products_title_main">Running Products</h2>

    <div class="row">
      <!-- Product Category Tabs -->
      <div class="products_tabs_column">
        <h3 class="products_title">Product Categories:</h3>
        <div class="products_column">
            <a id="shoes" class="products_tab" href="productsPage.html?category=shoes">Shoes</a>
            <a id="shorts" class="products_tab" href="productsPage.html?category=shorts">Shorts</a>
            <a id="shirts" class="products_tab" href="productsPage.html?category=shirts">T-Shirts/Jackets</a>
            <a id="accessories" class="products_tab" href="productsPage.html?category=accessories">Suppliments & Accessories</a>
          </div>
        </div>

      <div class="products_column_right">
        <!-- Product Search -->
        <div class="searchBox_products">
          <div>Search:</div>
          <div>
            <input>
            <button>Submit</button>
          </div>
        </div>
        <!-- Product iframe -->
        <div class="products">  
          <iframe name="product_iframe" src="./product_categories/shoes.html" frameBorder="0" width="500" height="750"></iframe>
        </div>
      </div>

      <div class="PoD">
        <!-- Product of the Day -->
        <iframe name="productOfTheDay_iframe" src="./product_categories/productOfTheDay.html" frameBorder="0" width="200" height="300"></iframe>
      </div>

    </div>

    <!-- Comments -->
    <div name="comments">
      <h3> Comments: </h3>
      <textarea placeholder="(Your comment here)"></textarea>
      <p>
        This is an example comment <br>
        2020/06/07
      </p>
      <p>
        This is another <br>
        2020/06/07
      </p>
    </div>

    <footer>
        Last Modified: 2020, July 3 <br>
      Author: Nicholas Mateus
    </footer>
    
    <script type="text/javascript" src="../src/product_iframe_from_query_string.js"></script>
    <script type="text/javascript" src="../src/product_tab_highlight.js"></script>
    <script type="text/javascript" src="../src/tab_highlighting.js"></script>

  </body>
</html>