
<!-- 
	Author: Nicholas Mateus
 	Last Modified: 2020, July 3
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="https://img.icons8.com/cotton/64/000000/trainers.png" />
    <link rel="stylesheet" type="text/css" href="../css/custom.css">
    <link rel="stylesheet" type="text/css" href="../css/record.css">
    <title>The Run Stop Shop</title>
  </head>
      
  <!-- Site Tabs -->
  <body>
    <header>
      <h1><a href="homePage.html">The Run Stop Shop</a></h1>
      <h2> Your one stop for all things running </h2>
      <div class="topnav">
  
        <div class="dropdown">
          <a class="dropbtn" id="workout_tab" href="workoutsPage.html">Workouts</a>
          <div class="dropdown-content">
            <a class="dropDownLink" href="workoutsPage.html?workout=recovery">Recovery</a>
            <a class="dropDownLink" href="workoutsPage.html?workout=speed">Speed</a>
            <a class="dropDownLink" href="workoutsPage.html?workout=cardio">Cardio</a>
            <a class="dropDownLink" href="workoutsPage.html?workout=interval">Interval</a>
            <a class="dropDownLink" href="workoutsPage.html?workout=weightloss">Weight Loss</a>
          </div>
        </div>
  
        <a href="recordsPage.html">Running Records</a>
        <a href="trailsPage.html">Find Trails near me</a>
        
        <div class="dropdown">
          <a class="dropbtn" id="product_tab" href="productsPage.html">Running Products</a>
          <div class="dropdown-content">
            <a class="dropDownLink" href="productsPage.html?category=shoes">Shoes</a>
            <a class="dropDownLink" href="productsPage.html?category=shorts">Shorts</a>
            <a class="dropDownLink" href="productsPage.html?category=shirts">T-Shirts & <br> Jackets</a>
            <a class="dropDownLink" href="productsPage.html?category=accessories">Suppliments & <br> Accessories</a>
          </div>
        </div>
      </div>
    </header>
      
    <!-- Events Table -->
    <div class="row">
      <div class="leftcolumn_records">
        <h3>Main Events (Male)</h3>
      </div>
      <div class="rightcolumn_records">
        <h3>Other Events (Male)</h3>
      </div>

    <div class="row">
      <table class="minimalistBlack">
        <thead>
          <tr>
            <th>Event</th>
            <th>Record <br> (video links)</th>
            <th>Athlete</th>
            <th>Nation</th>
            <th>Venue</th>
            <th>Date</th>
          </tr>
        </thead>
        <tr>
          <td>100m</td>
          <td><a href="https://www.youtube.com/watch?v=ol9fiOAditk" target="_blank">9.58s</a></td>
          <td>Usain Bolt</td>
          <td>Jamaica</td>
          <td>Berlin, Germany</td>
          <td>August 16, 2009</td>
        </tr>
        <tr>
          <td>200m</td>
          <td><a href="https://www.youtube.com/watch?v=88vaihR8DnI" target="_blank">19.19s</a></td>
          <td>Usain Bolt</td>
          <td>Jamaica</td>
          <td>Berlin, Germany</td>
          <td>August 20, 2009</td>
        </tr>
        <tr>
          <td>400m</td>
          <td><a href="https://www.youtube.com/watch?v=xG91krXuxyw" target="_blank">43.03s</a></td>
          <td>Wayde van Niekerk</td>
          <td>South Africa</td>
          <td>Rio, Brazil</td>
          <td>August 14, 2016</td>
        </tr>
        <tr>
          <td>800m</td>
          <td><a href="https://www.youtube.com/watch?v=YKEOjWEzVGs" target="_blank">1:40.91</a></td>
          <td>David Rudisha</td>
          <td>Kenya</td>
          <td>London, England</td>
          <td>August 9, 2012</td>
        </tr>
        <tr>
          <td>1500m</td>
          <td><a href="https://www.youtube.com/watch?v=tyoRtYr8mdc" target="_blank">3:26.00</a></td>
          <td>Hicham El Guerrouj</td>
          <td>Morocco</td>
          <td>Rome, Italy</td>
          <td>July 14, 1998</td>
        </tr>
        <tr>
          <td>1600m (mile)</td>
          <td><a href="https://www.youtube.com/watch?v=Ji0yK7fV5Rk" target="_blank">3:43.13</a></td>
          <td>Hicham El Guerrouj</td>
          <td>Morocco</td>
          <td>Rome, Italy</td>
          <td>July 7, 1999</td>
        </tr>
        <tr>
          <td>3000m</td>
          <td><a href="https://www.youtube.com/watch?v=c6gLVIAXWQo" target="_blank">7:20.67</a></td>
          <td>Daniel Komen</td>
          <td>Kenya</td>
          <td>Rieti, Italy</td>
          <td>September 1, 1996</td>
        </tr>
        <tr>
          <td>5000m</td>
          <td><a href="https://www.youtube.com/watch?v=QSSBtxvd5BI" target="_blank">12:37.35</a></td>
          <td>Kenenisa Bekele</td>
          <td>Ethiopia</td>
          <td>Hengelo, Netherlands</td>
          <td>May 31, 2004</td>
        </tr>
        <tr>
          <td>10,000m</td>
          <td><a href="https://www.youtube.com/watch?v=SYD7pBRfYsE" target="_blank">26:17.53</a></td>
          <td>Kenenisa Bekele</td>
          <td>Ethiopia</td>
          <td>Brussels, Belgium</td>
          <td>August 26, 2005</td>
        </tr>
        <tr>
          <td>21.1k (half marathon)</td>
          <td><a href="https://www.youtube.com/watch?v=OYXansJXPTA" target="_blank">58:01</a></td>
          <td>Geoffrey Kamworor</td>
          <td>Kenya</td>
          <td>Copenhagen, Denmark</td>
          <td>September 15, 2019</td>
        </tr>
        <tr>
          <td>42.2k (marathon)</td>
          <td><a href="https://www.youtube.com/watch?v=1TK69VQ9OXM" target="_blank">2:01:39</a></td>
          <td>Eliud Kipchoge</td>
          <td>Kenya</td>
          <td>Berlin, Germany</td>
          <td>September 16, 2018</td>
        </tr>
      </table>

      <table class="minimalistBlack">
        <thead>
          <tr>
            <th>Event</th>
            <th>Record <br> (video links)</th>
            <th>Athlete</th>
            <th>Nation</th>
            <th>Venue</th>
            <th>Date</th>
          </tr>
        </thead>
        <tr>
          <td>3000m (Steeplechase)</td>
          <td><a href="https://www.youtube.com/watch?v=7b_drNFQrTs" target="_blank">7:53.63</a></td>
          <td>Saif Shaheen</td>
          <td>Qatar</td>
          <td>Brussels, Belgium</td>
          <td>September 3, 2004</td>
        </tr>
        <tr>
          <td>110m Hurdles</td>
          <td><a href="https://www.youtube.com/watch?v=i3yN9G5rJYQ" target="_blank">12.80s</a></td>
          <td>Aries Merritt</td>
          <td>USA</td>
          <td>Brussels, Belgium</td>
          <td>September 7, 2012</td>
        </tr>
        <tr>
          <td>400m Hurdles</td>
          <td><a href="https://www.youtube.com/watch?v=mJkcPbgYHrI" target="_blank">46.78s</a></td>
          <td>Kevin Young</td>
          <td>USA</td>
          <td>Barcelona, Spain</td>
          <td>August 6, 1992</td>
        </tr>
        <tr>
          <td>4x100m Relay</td>
          <td><a href="https://www.youtube.com/watch?v=uwLDpcye-VM" target="_blank">36.84s</a></td>
          <td>Nesta Carter,<br>Michael Frater,<br>Yohan Blake,<br>Usain Bolt</td>
          <td>Jamaica</td>
          <td>London, England</td>
          <td>August 11, 2012</td>
        </tr>
        <tr>
          <td>4x400m Relay</td>
          <td><a href="https://www.youtube.com/watch?v=VL4vPXqMe0k" target="_blank">2:54.29</a></td>
          <td>Andrew Valmon,<br>Quincy Watts,<br> Butch Reynolds,<br>Michael Johnson</td>
          <td>USA</td>
          <td>Stuttgart, Germany</td>
          <td>August 22, 1993</td>
        </tr>
      </table>
    </div>

    <div class="row">
      <div class="leftcolumn_records">
        <h3>Main Events (Female)</h3>
      </div>
      <div class="rightcolumn_records">
        <h3>Other Events (Female)</h3>
      </div>
    </div>

    <div class="row">
      <table class="minimalistBlack">
        <thead>
          <tr>
            <th>Event</th>
            <th>Record <br> (video links)</th>
            <th>Athlete</th>
            <th>Nation</th>
            <th>Venue</th>
            <th>Date</th>
          </tr>
        </thead>
        <tr>
          <td>100m</td>
          <td><a href="https://www.youtube.com/watch?v=gyuSsyYaJnQ" target="_blank">10.49s</a></td>
          <td>Florence Joyner</td>
          <td>USA</td>
          <td>Indiana, USA</td>
          <td>July 16, 1988</td>
        </tr>
        <tr>
          <td>200m</td>
          <td><a href="https://www.youtube.com/watch?v=p5UTjitVC24" target="_blank">21.34s</a></td>
          <td>Florence Joyner</td>
          <td>USA</td>
          <td>Seoul, South Korea</td>
          <td>September 29, 1988</td>
        </tr>
        <tr>
          <td>400m</td>
          <td><a href="https://www.youtube.com/watch?v=OD4OUTXvtRU" target="_blank">47.60s</a></td>
          <td>Marita Koch</td>
          <td>Germany</td>
          <td>Canberra, Australia</td>
          <td>October 6, 1985</td>
        </tr>
        <tr>
          <td>800m</td>
          <td><a href="https://www.youtube.com/watch?v=lNpzsc8WWvE" target="_blank">1:53.28</a></td>
          <td>Jarmila Kratochvílová</td>
          <td>Czech Republic</td>
          <td>Munich, Germany</td>
          <td>July 26, 1983</td>
        </tr>
        <tr>
          <td>1500m</td>
          <td><a href="https://www.youtube.com/watch?v=w7wQlEnND7I" target="_blank">3:50.07</a></td>
          <td>Genzebe Dibaba</td>
          <td>Ethiopia</td>
          <td>Monaco</td>
          <td>July 17, 2015</td>
        </tr>
        <tr>
          <td>1600m (mile)</td>
          <td><a href="https://www.youtube.com/watch?v=WjpQ4N6nNuk" target="_blank">4:12.33</a></td>
          <td>Sifan Hassan</td>
          <td>Netherlands</td>
          <td>Monaco</td>
          <td>July 12, 2019</td>
        </tr>
        <tr>
          <td>3000m</td>
          <td><a href="https://www.youtube.com/watch?v=5Q6skcNwVDs" target="_blank">8:06.11</a></td>
          <td>Junxia Wang</td>
          <td>China</td>
          <td>Beijing, China</td>
          <td>September 13, 1993</td>
        </tr>
        <tr>
          <td>5000m</td>
          <td><a href="https://www.youtube.com/watch?v=yDlwL-sV6Mo" target="_blank">14:11.15</a></td>
          <td>Tirunesh Dibaba</td>
          <td>Ethiopia</td>
          <td>Oslo, Norway</td>
          <td>June 6, 2008</td>
        </tr>
        <tr>
          <td>10,000m</td>
          <td><a href="https://www.youtube.com/watch?v=EV_eFh01HxA" target="_blank">29:17.45</a></td>
          <td>Almaz Ayana</td>
          <td>Ethiopia</td>
          <td>Rio, Brazil</td>
          <td>August 12, 2016</td>
        </tr>
        <tr>
          <td>21.1k (half marathon)</td>
          <td><a href="https://www.youtube.com/watch?v=E42j6tHjJGE&feature=emb_title" target="_blank">1:04:31</a></td>
          <td>Ababel Yeshaneh</td>
          <td>Ethiopia</td>
          <td>Kaimah, UAE</td>
          <td>February 21, 2020</td>
        </tr>
        <tr>
          <td>42.2k (marathon)</td>
          <td><a href="https://www.youtube.com/watch?v=rv__w33xDzo" target="_blank">2:14:04</a></td>
          <td>Brigid Kosgei</td>
          <td>Kenya</td>
          <td>Illinois, USA</td>
          <td>October 13, 2019</td>
        </tr>
      </table>

      <table class="minimalistBlack">
        <thead>
          <tr>
            <th>Event</th>
            <th>Record <br> (video links)</th>
            <th>Athlete</th>
            <th>Nation</th>
            <th>Venue</th>
            <th>Date</th>
          </tr>
        </thead>
        <tr>
          <td>3000m (Steeplechase)</td>
          <td><a href="https://www.youtube.com/watch?v=KINmrMrOlWU" target="_blank">8:44.32</a></td>
          <td>Beatrice Chepkoech</td>
          <td>Kenya</td>
          <td>Monaco</td>
          <td>July 20, 2018</td>
        </tr>
        <tr>
          <td>100m Hurdles</td>
          <td><a href="https://www.youtube.com/watch?v=jJ995weE9kU" target="_blank">12.20s</a></td>
          <td>Kendra Harrison</td>
          <td>USA</td>
          <td>London, England</td>
          <td>July 22, 2016</td>
        </tr>
        <tr>
          <td>400m Hurdles</td>
          <td><a href="https://www.youtube.com/watch?v=JD37yYSLiS0" target="_blank">52.16s</a></td>
          <td>Dalilah Muhammad</td>
          <td>USA</td>
          <td>Doha, Qatar</td>
          <td>October 4, 2019</td>
        </tr>
        <tr>
          <td>4x100m Relay</td>
          <td><a href="https://www.youtube.com/watch?v=bR0PR2B1l7E" target="_blank">40.82</a></td>
          <td>Tianna Bartoletta,<br>Allyson Felix,<br>Bianca Knight,<br>Carmelita Jeter</td>
          <td>USA</td>
          <td>London, England</td>
          <td>August 10, 2012</td>
        </tr>
        <tr>
          <td>4x400m Relay</td>
          <td><a href="https://www.youtube.com/watch?v=PhtFClCScpQ" target="_blank">3:15.17</a></td>
          <td>Tatyana Ledovskaya,<br>Olga Nazarova,<br> Mariya Pinigina,<br>Olga Bryzgina</td>
          <td>Russia</td>
          <td>Seoul, South Korea</td>
          <td>October 1, 1988</td>
        </tr>
      </table>
    </div>

    <!-- Comments -->
    <div>
      <h3> Comments: </h3>
      <textarea placeholder="(Your comment here)"></textarea>
      <p>
        This is an example comment <br>
        2020/06/07
      </p>
      <p>
        This is another <br>
        2020/06/07
      </p>
    </div>

      <footer>
        Last Modified: 2020, July 3 <br>
        Author: Nicholas Mateus
      </footer>
      
    </body></html>