<!-- 
	Author: Nicholas Mateus
 	Last Modified: 2020, June 30
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="https://img.icons8.com/cotton/64/000000/trainers.png" />
    <link rel="stylesheet" type="text/css" href="../css/custom_css.css">
    <title>The Run Stop Shop</title>
  </head>

  <!-- Site Tabs -->
  <body>
    <header>
      <h1><a href="homePage.html">The Run Stop Shop</a></h1>
      <h2> Your one stop for all things running </h2>
      <div class="topnav">
        <a href="workoutsPage.html">Workouts</a>
        <a href="recordsPage.html">Running Records</a>
        <a href="trailsPage.html">Find Trails near me</a>
        <a href="productsPage.html">Running Products</a>
      </div>
    </header>

  <h2>
    Find Trails Near Me
  </h2>

  <!-- Top Rated Trails -->
  <div name="topRatedTrails">
    <h3> Top Rated Trails: </h3>
    <table>
      <tr>
        <td>
          <a href="https://www.trailrunproject.com/trail/7002742/franconia-ridge-loop"> <img alt="Franconia Ridge" src="https://cdn2.apstatic.com/photos/hike/7015408_small_1554826305.jpg"> </a>
          <br><a href="https://www.trailrunproject.com/trail/7002742/franconia-ridge-loop">Franconia Ridge Loop <br> (Lincoln, New Hampshire)</a>
        </td>
        <td>
          <a href="https://www.trailrunproject.com/trail/7003401/hanging-lake"> <img alt="Hanging Lake" src="https://cdn2.apstatic.com/photos/hike/7002369_small_1554225907.jpg"> </a>
          <br><a href="https://www.trailrunproject.com/trail/7003401/hanging-lake">Hanging Lake <br> (Glenwood Springs, Colorado)</a>
        </td>
        <td>
          <a href="https://www.trailrunproject.com/trail/7018713/grinnell-glacier"> <img alt="Grinnell Glacier" src="https://cdn2.apstatic.com/photos/hike/7008398_small_1554324711.jpg"> </a>
          <br><a href="https://www.trailrunproject.com/trail/7018713/grinnell-glacier">Grinnell Glacier <br> (Swiftcurrent, Montana)</a>
        </td>
      </tr>
    </table>
  </div>  

  <!-- Address Search -->
  <div name="locationSearch">
    <div>Location:</div>
    <div>
      <input value="Central Ontario">
      <button>Submit</button>
    </div>
  </div>

  <!-- Trails Table -->
  <div name="trailsOutput">
    <h3>Trails</h3>
    <table>
      <tr>
        <td>
          <a href="https://www.trailrunproject.com/trail/7074625/tews-falls-side-trail"> <img alt="Tews Falls" src="https://cdn2.apstatic.com/photos/hike/7056670_smallMed_1555945204.jpg"> </a>
          <br><a href="https://www.trailrunproject.com/trail/7074625/tews-falls-side-trail">Tews Falls Side Trail (Ancaster, Ontario)</a>
        </td>
        <td>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2904.598766349243!2d-79.98056478464638!3d43.280780979135805!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882c838ee3e98287%3A0xc85d281b7cf5a064!2sTew&#39;s%20Falls!5e0!3m2!1sen!2sca!4v1591536850057!5m2!1sen!2sca" width="400" height="250"></iframe>
        </td>
      </tr>
      <tr>
        <td>
          <a href="https://www.trailrunproject.com/trail/7053603/claireville-conservation-area-loop"> <img alt="Claireville" src="https://cdn2.apstatic.com/photos/hike/7051865_smallMed_1555693788.jpg"> </a>
          <br><a href="https://www.trailrunproject.com/trail/7053603/claireville-conservation-area-loop">Claireville Conservation Area Loop (Etobicoke, Ontario)</a>
        </td>
        <td>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8512.067329715856!2d-79.64827653034321!3d43.754615251926985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b3c9dc50c4e99%3A0xc2bcf995cb34c79!2sClaireville%20Conservation%20Area!5e0!3m2!1sen!2sca!4v1591537574855!5m2!1sen!2sca" width="400" height="250" ></iframe>
        </td>
      </tr>
    </table>
  </div>

  <!-- Comments -->
  <div name="comments">
    <h3> Comments: </h3>
    <textarea placeholder="(Your comment here)"></textarea>
    <p>
      This is an example comment <br>
      2020/06/07
    </p>
    <p>
      This is another <br>
      2020/06/07
    </p>
  </div>
  
  <footer>
    Last Modified: 2020, June 30 <br>
    Author: Nicholas Mateus
  </footer>

</body>

</html>