
<!-- 
	Author: Nicholas Mateus
 	Last Modified: 2020, June 1
-->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>The Run Stop Shop</title>
  </head>
    
  <body>
    <h1><a href="homePage.html">The Run Stop Shop</a></h1>
    <h2> Your one stop shop for all things running </h2>
    <a href="workoutsPage.html">Workouts</a> |
    <a href="recordspage.html">Running Records</a> |
    <a href="trailsPage.html">Find Trails near me</a> |
    <a href="productsPage.html">Running Products</a>

    <h3>
      Workouts available based on <em>YOUR</em> goals. Choosing a workout is as easy as clicking the tabs below!
    </h3>

    <h4>External Workout Resources:</h3>
    <ul>
      <li><a href="https://www.nomeatathlete.com/running-workouts/">nomeatathlete.com</a></li>
      <li><a href="https://www.mensjournal.com/health-fitness/best-speed-training-running-workouts/">mensjournal.com</a></li>
      <li><a href="https://www.roadrunnersports.com/blog/running-workouts/">roadrunnersports.com</a></li>
      <li><a href="https://www.runnersworld.com/workouts/">runnersworld.com</a></li>
      <li><a href="https://www.menshealth.com/fitness/a26874160/best-running-workouts/">menshealth.com</a></li>
      <li><a href="https://www.active.com/running/articles/5-running-workouts-for-beginners">active.com</a></li>
    </ul>

    <h3>Workouts:</h3>
    <table width="100%" height=800>
      <tr>
        <td><a href="./workouts/recovery.html" target="workout_iframe"><strong>Recovery Workout</strong></a></td>
        <td rowspan="500" width=600>
          <iframe name="workout_iframe" src="./workouts/recovery.html" frameBorder="0" width="100%" height="100%"></iframe>
        </td>
      </tr>
      <tr>
        <td><a href="./workouts/speed.html" target="workout_iframe"><strong>Speed Workout</strong></a></td>
      </tr>
      <tr>
        <td><a href="./workouts/cardio.html" target="workout_iframe"><strong>Cardio Workout</strong></a></td>
      </tr>
      <tr>
        <td><a href="./workouts/interval.html" target="workout_iframe"><strong>Interval Workout</strong></a></td>
      </tr>
      <tr>
        <td width="20%"><a href="./workouts/weight_loss.html" target="workout_iframe"><strong>Weight Loss Workout</strong></a></td>
      </tr>

    </table>
  
    <div>
      <h3> Comments: </h3>
      <textarea placeholder="(Your comment here)"></textarea>
      <p>
        This is an example comment <br>
        2020/06/07
      </p>
      <p>
        This is another <br>
        2020/06/07
      </p>
    </div>

    <footer>
        Last Modified: 2020, June 1 <br>
      Author: Nicholas Mateus
    </footer>
    
  </body></html>