
<!-- 
	Author: Nicholas Mateus
 	Last Modified: 2020, June 1
-->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title></title>
    </head>
      
    <body>
    <h1><a href="homePage.html">The Run Stop Shop</a></h1>
    <h2> Your one stop shop for all things running </h2>
      <a href="workoutsPage.html">Workouts</a>
      <a href="historyPage.html">History and Records</a>
      <a href="trailsPage.html">Find Trails near me</a>
      <a href="productsPage.html">Running Products</a>
    
      <footer>
          Last Modified: 2020, June 1 <br>
        Author: Nicholas Mateus
      </footer>
      
    </body></html>