<!-- 
	Author: Nicholas Mateus
 	Last Modified: 2020, July 3
-->
<!DOCTYPE html>
<html lang="en">
	<head>
        <title>Shirts</title>
        <base target="_parent">
    </head>
	<body>
		<h3>Product of the Day:</h3>
		<img alt="PoD" width="150" height="150" src="https://mec.imgix.net/medias/sys_master/high-res/high-res/9078137421854/5058785-HLV00.jpg?w=600&h=600&auto=format&q=60&fit=fill&bg=FFF">
		<div>
			<a target="_blank" href="https://www.mec.ca/en/product/5058-785/Distance-Graphic-T-shirt">Brooks Distance T-shirt <br> CAD $33.95</a>
		</div>
	</body>
</html>