<!-- 
	Author: Nicholas Mateus
 	Last Modified: 2020, July 24
-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Shirts</title>
        <link rel="stylesheet" type="text/css" href="../../css/product.css">
        <base target="_parent">
    </head>

    <body class="products_title_main">
        <h2>
            T-Shirts/Jackets
        </h2>
        
        <table class="product_table_page">
            <tr>
                <td>
                    <img alt="shirts" width="150" height="150" src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy/26452d3a701844f99a86aad50135931e_9366/Own_the_Run_Hooded_Wind_Jacket_Black_FM6928_FM6928_21_model.jpg">
                    <div>
                        <a target="_blank" href="https://www.adidas.ca/en/own-the-run-hooded-wind-jacket/FM6928.html?cm_mmc=AdieSEM_Feeds-_-GoogleProductAds-_-Clothing-_-FM6928&cm_mmc=AdiSEM&cm_mmca1=CA&dfw_tracker=17988-FM6928-0001&gclid=Cj0KCQjww_f2BRC-ARIsAP3zarFHttHVZZORNzyStSSmmNWVqjIGSxilm6F0_fC4G2p2TxvvAXgC1H8aAlgSEALw_wcB">Adidas Hooded Wind Jacket <br> CAD $90</a>
                    </div>
                </td>
                <td>
                    <img alt="shirts" width="150" height="150" src="https://assets.adidas.com/images/h_2000,f_auto,q_auto:sensitive,fl_lossy/b501850e01fe41c1b2eeaab100ef5438_9366/Own_The_Run_Graphic_Jacket_Black_ED9284_21_model.jpg">
                    <div>
                        <a target="_blank" href="https://www.adidas.ca/en/own-the-run-graphic-jacket/ED9284.html?cm_mmc=AdieSEM_Feeds-_-GoogleProductAds-_-Clothing-_-ED9284&cm_mmc=AdiSEM&cm_mmca1=CA&dfw_tracker=17988-ED9284-0003&gclid=Cj0KCQjww_f2BRC-ARIsAP3zarG6pdSrNtk_tDUBL7vgoyFzfGYvZX0xmE4ISQ94o8Cr22P9jQwegxMaAimyEALw_wcB">Adidas Graphic Jacket <br> CAD $100</a>
                    </div>
                </td>
                <td>
                    <img alt="shirts" width="150" height="150" src="https://eddiebauer.scene7.com/is/image/EddieBauer/D0010256_707C1?$748V1$">
                    <div>
                        <a target="_blank" href="https://www.eddiebauer.ca/p/10112340/mens-momentum-upf-50-anorak?sp=1&sizeType=Regular&color=Dk%20Smoke&ch=pla&cm_mmc=GooglePLA-_-non_brand_PLA_All_Products-_-All_Products-_-0010256707000050&cvosrc=cse.google.0010256707000050&cvo_campaign=non_brand_PLA_All_Products&gclid=Cj0KCQjww_f2BRC-ARIsAP3zarH7a3PiQ9PtB0eG_VNZsS_iwqPyydmHf5qs235B7DI5DO3TwgMnTmgaAoWpEALw_wcB">Momentum UPF 50 Anorak <br> CAD $89.00</a>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <img alt="shirts" width="150" height="150" src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy/728898822a4d4281b89faa160025e211_9366/Own_the_Run_Tank_Top_Black_DZ7316_21_model.jpg">
                    <div>
                        <a target="_blank" href="https://www.adidas.ca/en/own-the-run-tank-top/DZ7316.html?cm_mmc=AdieSEM_Feeds-_-GoogleProductAds-_-Clothing-_-DZ7316&cm_mmc=AdiSEM&cm_mmca1=CA&dfw_tracker=17988-DZ7316-0002&gclid=Cj0KCQjww_f2BRC-ARIsAP3zarFc6-92wCrwGKzvqIJB_Si715qQc7_N7KLHZ6FLaLsPC98QohLuvKkaAshFEALw_wcB">Adidas Run Tank <br> CAD $38</a>
                    </div>
                </td>
                <td>
                    <img alt="shirts" width="150" height="150" src="https://mec.imgix.net/medias/sys_master/high-res/high-res/9078137421854/5058785-HLV00.jpg?w=600&h=600&auto=format&q=60&fit=fill&bg=FFF">
                    <div>
                        <a target="_blank" href="https://www.mec.ca/en/product/5058-785/Distance-Graphic-T-shirt">Brooks Distance T-shirt <br> CAD $33.95</a>
                    </div>
                </td>
                <td>
                    <img alt="shirts" width="150" height="150" src="https://mec.imgix.net/medias/sys_master/high-res/high-res/9085886332958/6006474-GRG01.jpg?w=600&h=600&auto=format&q=60&fit=fill&bg=FFF">
                    <div>
                        <a target="_blank" href="https://www.adidas.ca/en/m20-shorts/FK9699.html">Salomon Agile Long Sleeve <br> CAD $59.95</a>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <img alt="shirts" width="150" height="150" src="http://fgl.scene7.com/is/image/FGLSportsLtd/FGL_333023422_63_a-Under-Amour-Mens-Qualifier-Iso-Chill-Printed-T-Shirt-1350133-628?bgColor=0,0,0,0&fmt=png-alpha">
                    <div>
                        <a target="_blank" href="https://www.sportchek.ca/categories/shop-by-sport/running/running-apparel/mens/product/under-amour-mens-qualifier-iso-chill-printed-t-shirt-333023398.html#333023422%5Bcolor%5D=333023422_63">Under Armour Qualifier Iso-Chill T-shirt <br> CAD $44.99</a>
                    </div>
                </td>
                <td>
                    <img alt="shirts" width="150" height="150" src="https://mec.imgix.net/medias/sys_master/high-res/high-res/9080040685598/6005523-HAL00.jpg?w=600&h=600&auto=format&q=60&fit=fill&bg=FFF">
                    <div>
                        <a target="_blank" href="https://www.mec.ca/en/product/6005-523/Distance-Tank">Brooks Distance Tank <br> CAD $29.95</a>
                    </div>
                </td>
                <td>
                    <img alt="shirts" width="150" height="150" src="http://fgl.scene7.com/is/image/FGLSportsLtd/FGL_332995999_40_a-Nike-Mens-Dry-Miler-T-Shirt-AJ7565-402?bgColor=0,0,0,0&fmt=png-alpha">
                    <div>
                        <a target="_blank" href="https://www.sportchek.ca/categories/men/apparel/tops/short-sleeve-tee/athletic/product/nike-mens-dry-miler-t-shirt-332995999.html#332995999%5Bcolor%5D=332995999_40">Nike Dry Miler T-shirt <br> CAD $31.50</a>
                    </div>
                </td>
            </tr>

        </table>
    </body>
</html>