<!-- 
	Author: Nicholas Mateus
 	Last Modified: 2020, July 11
-->
<!DOCTYPE html>
<html lang="en">
	<head>
        <title>Shirts</title>
        <base target="_parent">
    </head>

    <body>
        <h2>
            Shoes
        </h2>
        
        <table>
            <tr>
                <td>
                    <img alt="shoes" width="150" height="150" src="https://images.ctfassets.net/od02wyo8cgm5/2KVdIBhSmKMrY0OU9DmJx4/398a7efbffa78f6a8c87d537e178b206/cloudstratus-ss20-cobble_ivy-m-g1.png?w=525&h=525&fl=progressive&q=91&bg=rgb:f7f7f7&fm=jpg">
                    <div>
                        <a target="_blank" href="https://www.on-running.com/en-ca/products/cloudstratus/mens/cobble-ivy">Cloudstratus <br> CAD $219.99</a>
                    </div>
                </td>
                <td>
                    <img alt="shoes" width="150" height="150" src="https://d13gaayjtx5oeh.cloudfront.net/pub/media/catalog/product/cache/ccd3af11e3253abd706ee2361ee5cf8e/h/o/hok-1102886-carbonx-m-r.jpg">
                    <div>
                        <a target="_blank" href="https://us.shop.runningroom.com/en_us/hoka-one-one-men-s-carbon-x-running-shoe.html">Hoka One Carbon <br> USD $179.99</a>
                    </div>
                </td>
                <td>
                    <img alt="shoes" width="150" height="150" src="https://d13gaayjtx5oeh.cloudfront.net/pub/media/catalog/product/cache/ccd3af11e3253abd706ee2361ee5cf8e/4/1/411106_mb00_03.jpg">
                    <div>
                        <a target="_blank" href="https://us.shop.runningroom.com/en_us/mizuno-men-s-wave-sky-waveknit-3-running-shoe.html">Mizuno Waveknit 3 <br> USD $159.99</a>
                    </div>
                </td>
            </tr>
        
            <tr>
                <td>
                    <img alt="shoes" width="130" height="150" src="https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5/33201b0e-8971-45eb-b91b-edac41535f5a/air-zoom-pegasus-37-running-shoe-Z7QV8F.jpg">
                    <div>
                        <a target="_blank" href="https://www.nike.com/ca/t/air-zoom-pegasus-37-running-shoe-Z7QV8F/BQ9646-001">Nike Air Zoom Pegasus 37 <br> CAD $155</a>
                    </div>
                </td>
                <td>
                    <img alt="shoes" width="130" height="150" src="https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5/71d73792-f98d-4461-9700-32381e1002d7/downshifter-10-running-shoe-QL0NBl.jpg">
                    <div>
                        <a target="_blank" href="https://www.nike.com/ca/t/downshifter-10-running-shoe-QL0NBl/CI9981-400">Nike Downshifter 10 <br> CAD $80</a>
                    </div>
                </td>
                <td>
                    <img alt="shoes" width="130" height="150" src="https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5/c4a664d9-1045-4511-a4bd-4e9c3b4e2d2e/zoom-fly-3-running-shoe-9SdJdh.jpg">
                    <div>
                        <a target="_blank" href="https://www.nike.com/ca/t/zoom-fly-3-running-shoe-9SdJdh/AT8240-700">Nike Zoom Fly 3 <br> CAD $210</a>
                    </div>
                </td>
            </tr>
        
            <tr>
                <td>
                    <img alt="shoes" width="150" height="150" src="https://d13gaayjtx5oeh.cloudfront.net/pub/media/catalog/product/cache/ccd3af11e3253abd706ee2361ee5cf8e/s/2/s20544-25_1.jpg">
                    <div>
                        <a target="_blank" href="https://us.shop.runningroom.com/en_us/saucony-men-s-hurricane-22-running-shoe.html">Saucony Hurricane 22 <br> USD $159.99</a>
                    </div>
                </td>
                <td>
                    <img alt="shoes" width="150" height="150" src="https://d13gaayjtx5oeh.cloudfront.net/pub/media/catalog/product/cache/ccd3af11e3253abd706ee2361ee5cf8e/1/0/1012a457_400-r.jpg">
                    <div>
                        <a target="_blank" href="https://us.shop.runningroom.com/en_us/asics-women-s-gel-kayano-26-b-running-shoe.html">Asics Gel-Kayano 26B <br> USD $219.99</a>
                    </div>
                </td>
                <td>
                    <img alt="shoes" width="150" height="150" src="https://cdn.shopify.com/s/files/1/1956/9819/products/0190340544712-brooks_1_jpg_1_1024x1024.jpg?v=1584475763">
                    <div>
                        <a target="_blank" href="https://www.nationalsports.com/collections/mens-running-shoes/products/brooks-mens-adrenaline-gts-20-running-shoe-black-lime?variant=31725896138831">Brooks Adrenaline GTS 20 <br> USD $169.99</a>
                    </div>
                </td>
            </tr>
        
        </table>
    </body>
</html>