<base target="_parent">

<table>
    <tr>
        <td>
            <img width="150" height="150" src="https://d13gaayjtx5oeh.cloudfront.net/pub/media/catalog/product/cache/ccd3af11e3253abd706ee2361ee5cf8e/r/f/rfw-s9-20g0025-castlerock-m_f.jpg">
            <div>
                <a target="_blank" href="https://us.shop.runningroom.com/en_us/running-room-men-s-5-perforated-run-short.html">Perforated Running Shorts <br> USD $49.99</a>
            </div>
        </td>
        <td>
            <img width="150" height="150" src="https://d13gaayjtx5oeh.cloudfront.net/pub/media/catalog/product/cache/ccd3af11e3253abd706ee2361ee5cf8e/r/x/rxs920g0035-blk-m_s.jpg">
            <div>
                <a target="_blank" href="https://us.shop.runningroom.com/en_us/running-room-men-s-extreme-3-run-short.html">Running Room Extreme 3" Shorts <br> USD $49.99</a>
            </div>
        </td>
        <td>
            <img width="150" height="150" src="http://fgl.scene7.com/is/image/FGLSportsLtd/FGL_332658967_01_a-Nike-Mens-Flex-Stride-2-In-1-Shorts-AJ7784-010?bgColor=0,0,0,0&fmt=png-alpha">
            <div>
                <a target="_blank" href="https://www.sportchek.ca/categories/shop-by-sport/running/mens/shorts/product/nike-mens-flex-stride-2-in-1-shorts-332658967.html#332658967%5Bcolor%5D=332658967_01">Nike Flex Stride <br> CAD $48.00</a>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <img width="150" height="150" src="//fgl.scene7.com/is/image/FGLSportsLtd/FGL_333025633_40_a-Under-Amour-Mens-Qualifier-Speedpocket-7-Inch-Shorts-1326600-464?bgColor=0,0,0,0&fmt=png-alpha">
            <div>
                <a target="_blank" href="https://www.sportchek.ca/categories/shop-by-sport/running/mens/shorts/product/under-amour-mens-qualifier-speedpocket-7-inch-shorts-333194360.html#333025633%5Bcolor%5D=333025633_40">Under Armour Speedpocket Shorts <br> USD $44.99</a>
            </div>
        </td>
        <td>
            <img width="150" height="150" src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy/b624769e3fb4498faaa7a8dd01256fd0_9366/Supernova_Tights_Black_CY5799_CY5799_22_model.jpg">
            <div>
                <a target="_blank" href="https://www.adidas.ca/en/supernova-tights/CY5799.html?pr=product_rr&slot=1">Supernova Tights <br> CAD $80</a>
            </div>
        </td>
        <td>
            <img width="150" height="150" src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy/435dd9c1325b438f8f6baaf0011f2663_9366/M20_Shorts_White_FK9699_21_model.jpg">
            <div>
                <a target="_blank" href="https://www.adidas.ca/en/m20-shorts/FK9699.html">M20 Shorts <br> CAD $90</a>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <img width="150" height="150" src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy/85fec90fceb84540bf04aab2015ac8db_9366/Marathon_20_Shorts_Grey_FL7827_21_model.jpg">
            <div>
                <a target="_blank" href="https://www.adidas.ca/en/marathon-20-shorts/FL7827.html">Marathon 20 Shorts <br> CAD $40</a>
            </div>
        </td>
        <td>
            <img width="150" height="150" src="https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5/8bc911c9-cf8d-4c17-a4de-fa0c94b361ee/flex-stride-13cm-brief-running-shorts-BPGNPV.jpg">
            <div>
                <a target="_blank" href="https://www.nike.com/ca/t/flex-stride-13cm-brief-running-shorts-BPGNPV/CJ5453-068">Nike Flex Stride <br> CAD $64</a>
            </div>
        </td>
        <td>
            <img width="150" height="150" src="https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5/i1-ac8e7a4c-77c9-4b1c-ac81-2ca480f35028/fast-5cm-running-shorts-MqLvpp.jpg">
            <div>
                <a target="_blank" href="https://www.nike.com/ca/t/fast-5cm-running-shorts-MqLvpp/CJ7845-410">Nike Fast <br> CAD $42</a>
            </div>
        </td>
    </tr>

</table>