<!-- 
	Author: Nicholas Mateus
 	Last Modified: 2020, June 20
-->
<!DOCTYPE html>
<html lang="en">

	<head>
        <title>Shirts</title>
        <base target="_parent">
    </head>

    <body>
        <h2>
            Suppliments & Accessories
        </h2>
        
        <table>
            <tr>
                <td>
                    <img alt="accessories" width="140" height="150" src="https://img.runningwarehouse.com/watermark/rs.php?path=ADDNON-BL-1.jpg&nw=600 2x">
                    <div>
                        <a target="_blank" href="https://www.runningwarehouse.com/Addaday_Nonagon_Roller/descpage-ADDNON.html">Addaday Nonagon Roller <br> USD $34.95</a>
                    </div>
                </td>
                <td>
                    <img alt="accessories" width="140" height="150" src="https://img.runningwarehouse.com/watermark/rs.php?path=CRFRSO2-BK-1.jpg&nw=300">
                    <div>
                        <a target="_blank" href="https://www.runningwarehouse.com/Compressport_Full_Race_Oxygen_Socks_Black/descpage-CRFRSO2.html">Compressport Full <br> Race Oxygen Black <br> USD $44.95</a>
                    </div>
                </td>
                <td>
                    <img alt="accessories" width="150" height="150" src="https://img.runningwarehouse.com/watermark/rs.php?path=GOWROC-BK-1.jpg&nw=300">
                    <div>
                        <a target="_blank" href="https://www.runningwarehouse.com/GORE_Windstopper_Road_Cap/descpage-GOWROC.html">Gore Windstopper Road Cap <br> USD $50.00</a>
                    </div>
                </td>
            </tr>
        
            <tr>
                <td>
                    <img alt="accessories" width="150" height="150" src="https://img.runningwarehouse.com/watermark/rs.php?path=UASPRY3-1.jpg&nw=300">
                    <div>
                        <a target="_blank" href="https://www.runningwarehouse.com/UltrAspire_Spry_30_Vest/descpage-UASPRY3.html">UltrAspire Spry 3.0 Vest <br> USD $69.95</a>
                    </div>
                </td>
                <td>
                    <img alt="accessories" width="150" height="150" src="https://mec.imgix.net/medias/sys_master/high-res/high-res/8850092326942/5052041-FST07.jpg?w=700&h=700&auto=format&q=40&fit=fill&bg=FFF">
                    <div>
                        <a target="_blank" href="https://www.mec.ca/en/product/5052-041/Forerunner-35">Garmin Foreruner 35 <br> CAD $33.95</a>
                    </div>
                </td>
                <td>
                    <img alt="accessories" width="150" height="150" src="https://mec.imgix.net/medias/sys_master/high-res/high-res/9076107182110/6010605-SLG01.jpg?w=600&h=600&auto=format&q=60&fit=fill&bg=FFF">
                    <div>
                        <a target="_blank" href="https://www.mec.ca/en/product/6010-605/3-Watch">Suunto 3 Watch <br> CAD $299.95</a>
                    </div>
                </td>
            </tr>
        
            <tr>
                <td>
                    <img alt="accessories" width="150" height="150" src="https://img.runningwarehouse.com/watermark/rs.php?path=HPR32-CH-1.jpg&nw=300">
                    <div>
                        <a target="_blank" href="https://www.runningwarehouse.com/Hammer_Recoverite_32-Servings/descpage-HPR32.html">Hammer Recoverite <br> USD $59.95</a>
                    </div>
                </td>
                <td>
                    <img alt="accessories" width="150" height="150" src="https://img.runningwarehouse.com/watermark/rs.php?path=2SUR8-CH-1.jpg&nw=300">
                    <div>
                        <a target="_blank" href="https://www.runningwarehouse.com/2nd_Surge_Ultra_Energy_Gel_8-Pack/descpage-2SUR8.html">2nd Surge Ultra Energy Gel <br> USD $13.99</a>
                    </div>
                </td>
                <td>
                    <img alt="accessories" width="150" height="150" src="https://img.runningwarehouse.com/watermark/rs.php?path=MAU100-UN-1.jpg&nw=300">
                    <div>
                        <a target="_blank" href="https://www.runningwarehouse.com/Maurten_Gel_100_12-Pack/descpage-MAU100.html">Maurten Gel 100 <br> USD $43.20</a>
                    </div>
                </td>
            </tr>
        
        </table>
    </body>
</html>